<?xml version="1.0" encoding="utf-8"?>
    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.kitcoop.lastproject1"
        android:versionCode="1"
        android:versionName="1.0">

        <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />

        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <application
            android:label="@string/app_name"
            android:icon="@drawable/ssak"><!--
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar">-->
            <!--  android:icon="@mipmap/ic_launcher_round"
                  행성이름 옆에있는 아이콘
                  이부분 없애도 기본 이미지가 들어감..
            -->
            <activity
                android:name=".Activity_FirstMain"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity><!--

            <activity android:name=".Activity_FirstMain" />-->
            <activity android:name=".Activity_Drawer"
                android:screenOrientation="portrait"/>
            <activity android:name=".Activity_Login"
                android:screenOrientation="portrait" />
            <activity android:name=".Activity_Join"
                android:screenOrientation="portrait" />
            <activity android:name=".Activity_LookForPassword"
                android:screenOrientation="portrait" />
            <activity android:name=".Activity_Settings"
                android:screenOrientation="portrait" />
           <!-- <activity android:name=".CustomF_Analyze" />-->
            <activity android:name=".Tab4CustomMap"
                android:screenOrientation="portrait" />
            <activity android:name=".Activity_Loading"
                android:screenOrientation="portrait" />
            <service
                android:name="com.example.kitcoop.lastproject1.pedometerService.MyService"
                android:enabled="true"
                android:exported="true" />

            <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key"/>
        </application>
    </manifest>
